# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Dependency directories
package-lock.json

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
